@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&display=swap");

.container {
  color: white;
  min-height: 100vh;
  background: #136a8a;
  background: -webkit-linear-gradient(
    to top,
    #267871,
    #136a8a
  ); 
  background: linear-gradient(
    to top,
    #267871,
    #136a8a
  ); 
}
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}
nav {
  background-color: rgba(19, 18, 18, 0.768);
  padding: 10px 0px;
  position: sticky;
  width: 100%;
}
#title {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  color: white;
}
.welcome {
  text-align: center;
}
.title {
  padding: 20px 0px;
}
#h1-welcome {
  font-family: "Inter", sans-serif;
  font-size: 3em;
  margin: 10px 0px;
}
#p-welcome {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
#input-search {
  width: 300px;
  height: 30px;
  margin: 5px;
  text-align: center;
}
#input-submit {
  width: 120px;
  height: 30px;
  margin: 5px;
}
#input-search,
#input-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 24, 24, 0.618);
  font-weight: 800;
  color: white;
  
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.img-container {
    max-width: 100px;
    text-align: center;
}
img {
    width: 100%;
}
.card {
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(250, 250, 250, 0.494);
  color: #232526;
  border-radius: 5px;
  flex-wrap: wrap;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#city {
  font-size: 2.5em;
}
#description {
  font-size: 1.5em;
  text-transform: uppercase;
  white-space: nowrap;
}
#temperature {
  margin: 10px 0px;
  font-size: 3em;
}
.card-item {
  font-size: 1.2em;
  font-weight: 800;
  margin: 10px;
  text-align: center;
}
.max-min {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.data {
  font-size: 1.1em;
}
.datosextras {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item-extra {
  padding: 0px 10px;
}
@media only screen and (max-width: 700px) {
  #city {
    font-size: 1.5em;
    white-space: nowrap;
  }
  #temperature {
    font-size: 2.5em;
    margin: 5px;
  }
}